<ion-app>

  <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>

        <ion-menu-toggle auto-hide="false">
          <ion-item [routerDirection]="'root'" [routerLink]="'/home'">
            <ion-icon slot="start" [name]="'home-outline'"></ion-icon>
            <ion-item>Iluminación</ion-item>
          </ion-item>
          <ion-item [routerDirection]="'root'" [routerLink]="'/colores'">
            <ion-icon slot="start" [name]="'color-palette-outline'"></ion-icon>
            <ion-item>Color Led</ion-item>
          </ion-item>
          <ion-item [routerDirection]="'root'" [routerLink]="'/ajustes'">
            <ion-icon slot="start" [name]="'settings-outline'"></ion-icon>
            <ion-item>Ajustes</ion-item>
          </ion-item>
          <ion-item [routerDirection]="'root'" [routerLink]="'/soporte'">
            <ion-icon slot="start" [name]="'call-outline'"></ion-icon>
            <ion-item>Soporte</ion-item>
          </ion-item>
          <ion-item [routerDirection]="'root'" [routerLink]="'/info'">
            <ion-icon slot="start" [name]="'information-circle-outline'"></ion-icon>
            <ion-item>Información</ion-item>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

    <ion-router-outlet id="main"></ion-router-outlet>
  <!--</ion-split-pane></ion-split-pane>-->
</ion-app>
