<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Información</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content padding>
  <ion-toolbar text-center>
    <div text-center>
      <p>Versión 1.0</p>
      <p>Desarrollado por:</p>
      <ion-img width="180" height="180" src="assets/images/logo.jpg"></ion-img>
    </div>
  </ion-toolbar>
</ion-content> -->

  <ion-toolbar ion-text-center>
    <ion-title>Version 1.0</ion-title>
  </ion-toolbar>


  <ion-toolbar>
    <ion-title ion-text-center>Desarrollado por:</ion-title>
  </ion-toolbar>


    <ion-toolbar>
      <div text-center>
        <ion-img width="180" height="180" src="assets/images/logo.jpg"></ion-img>
      </div>
    </ion-toolbar>



<ion-footer>
  <ion-toolbar>
    <ion-title>© 2021</ion-title>
  </ion-toolbar>
</ion-footer>

