.titulo{
    font-weight: bold;
}

.img{
    background: rgba(95, 100, 108, 0.500);
    width: 10rem;
    height: 10rem;
    margin: auto;
}

.centrartexto{
    text-align: center;
}
.letrapequeña{
    font-size: smaller;
}