<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="home"></ion-back-button> -->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text><p class="titulo">Control de NETLED</p>
    Es la manera definitiva para controlar
    la iluminación de su hogar o negocio<br><br>
    La misión de Control es ayudar a facilitar
    la administración de las luces que se tienen
    en uso.<br><br>  
  <div class="centrartexto">
    <div class="letrapequeña">
      <p>Versión: 1.0</p>
      <p>Desarrollado por:</p>
    </div>
    <ion-img src="../../../assets/icon/48379043_347881382433320_6254341173255602176_n.png" class="img"></ion-img>
  </div>
</ion-text>
    
  
  
</ion-content>

<ion-footer class="centrartexto">
  <ion-toolbar color="dark">
    <ion-label class="letrapequeña">© 2021</ion-label>
  </ion-toolbar>
</ion-footer>
