.content{
    text-align: center;
}

.titulo{
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2rem;
}
.iconos{
    font-size: 300%;
    margin: 1rem;
}
#whap{
    color: #4AC959;
}

#telefono{
    color: #345F92;
}

.icon{
    width: 12rem;
    height: 12rem;
    margin-top: 1rem;
}