<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="home"></ion-back-button> -->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Soporte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  
  <ion-text>
    <p class="titulo">Soporte tecnico especializado</p>
    <img src="../../../assets/icon/48379043_347881382433320_6254341173255602176_n.png" class="icon">
    <br>
    <br>
    Telefono: (834) 269 49 09.
    <br>
    Horario: 8:00 - 20:00
    <br>
  </ion-text>
  <ion-icon name="logo-whatsapp" class="iconos" id="whap"></ion-icon>
  <ion-icon name="call" class="iconos" id="telefono"></ion-icon>
</ion-content>

