#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#solicon-size{
  font-size: 110%;
  margin-right: .3rem;
}

.Celeste{
  color: #85C1E9;
}
.Azul{
  color: #3F76F4;
}
.Morado{
  color: #7D3C98;
}
.Amarillo{
  color: #F4D03F;
}
.Naranja{
  color: #E67E22;
}
.Rosa{
  color: #DF76E3;
}
.Rojo{
  color: #E74C3C;
}
.Verde{
  color: #28B463;
}
.Dorado{
  color: #D4AC0D;
}

.lunaicon{
  font-size: 110%;
  margin-right: .3rem;
}