<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Control
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Control</ion-title><!--otro comentario-->
      <ion-item></ion-item>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-item [routerLink]="['/colores']"> <!--routerLink para navegacion de paginas-->
      <ion-label>Color</ion-label>
    </ion-item>

    <ion-list>
      <ion-item *ngFor="let f of focos"><!--comentario en focos-->
        <ion-label *ngIf="f.estado; then solIcon else lunaIcon" class="editIcon"></ion-label>
        <ion-label>{{f.nombre}}</ion-label>
        <ion-toggle (ionChange)="encender($event, f.nombre)" [(ngModel)]="f.estado"></ion-toggle> <!--[(ngModel)] para la lista creada en home.page.ts-->
      </ion-item>

      <ng-template #solIcon>
        <ion-icon name="sunny-outline"></ion-icon>
      </ng-template>
      <ng-template #lunaIcon>
        <ion-icon name="moon-outline"></ion-icon>
      </ng-template>
    </ion-list>
  </ion-content>




</ion-content>