<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Iluminación
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Iluminación</ion-title> <!--Actualizacion-->
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item *ngFor="let f of focos">
        <ion-label *ngIf="f.estado; then solIcon else lunaIcon" class="editIcon"></ion-label>
        <ion-label>{{f.nombre}}</ion-label>
        <ion-toggle (ionChange)="encender($event, f.nombre)" [(ngModel)]="f.estado"></ion-toggle> <!--[(ngModel)] para la lista creada en home.page.ts-->
      </ion-item>

      <ng-template #solIcon>
        <ion-icon name="sunny-outline"></ion-icon>
      </ng-template>
      <ng-template #lunaIcon>
        <ion-icon name="moon-outline"></ion-icon>
      </ng-template>
    </ion-list>
  </ion-content>

</ion-content>
