<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Iluminación
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Iluminación</ion-title> <!--Actualizacion-->
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Cambio</ion-label>
    <ion-icon slot="end" name="menu-outline" color="dark" (click)="order()" (click)="addStorage()"></ion-icon>
  </ion-item>

  <ion-reorder-group (ionItemReorder)="doReorder($event)" [disabled]="orderBool">
  <!--<ion-list>-->
    <ion-item *ngFor="let f of focosNew">
      <ion-label *ngIf="f.estado; then solIcon else lunaIcon" class="editIcon"></ion-label>
      <ion-label>{{f.nombre}}</ion-label>
      <ion-toggle (ionChange)="encender($event, f.nombre)" [(ngModel)]="f.estado" color="dark"></ion-toggle> <!--[(ngModel)] para la lista creada en home.page.ts-->
      <ion-reorder slot="end"></ion-reorder>
     </ion-item>

    <ng-template #solIcon>
      <ion-icon name="sunny-outline"></ion-icon>
    </ng-template>
    <ng-template #lunaIcon>
      <ion-icon name="moon-outline"></ion-icon>
    </ng-template>
  <!--</ion-list>-->
</ion-reorder-group>

</ion-content>
