<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button> <!-- Dejé el boton de regreso a la página de luces, olvidé comentarte que así lo había pedido el Inge -->
    </ion-buttons>
    <ion-title>Ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<!--Agregé el localstorage-->
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>IP_Server</ion-label>
      <ion-label>{{ tokenIpServer || ipServer }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Puerto</ion-label>
      <ion-label>{{ tokenPuerto || puerto }}</ion-label>
    </ion-item>
    <ion-item (click)="modificarIP()">
      <ion-label>Modificar</ion-label>
      <ion-checkbox checked={{checado}} color="dark"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>IP_Server</ion-label>
      <ion-input disabled="{{isDisabled}}" type="text" placeholder="192.168.XX.XX" [(ngModel)]="ipServer" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Puerto</ion-label>
      <ion-input disabled="{{isDisabled}}" type="text" placeholder="192.168.XX.XX" [(ngModel)]="puerto"></ion-input>
    </ion-item>
    <ion-button class="boton" color="dark" disabled="{{isDisabled}}" (click)="guardarIP()" (click)="modificarIP()">GUARDAR</ion-button>
    
  </ion-list>
</ion-content>
